/* --------------------
        Header
--------------------- */

.header {
  width: 100%;
  height: 40px;
  background-color: var(--primary-s-color);
}

.header .text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-l-color);
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.list_container {
  padding: calc(20 / var(--basis-window-size) * 100vw) 0 calc(40 / var(--basis-window-size) * 100vw);
}

/* --------------------
      Navigation
--------------------- */

.nav_bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-s-color);
}

.nav_bar .list {
  display: flex;
} 

.nav_bar .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  border-right: solid 1px var(--primary-color);
}

.nav_bar .item:last-child {
  border-right: none;
}

/* --------------------
        Footer
--------------------- */
.footer {
  width: 100%;
  height: 60px;
  background-color: var(--primary-s-color);
}

.footer .text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1;
}

/* --------------------
      Card List
--------------------- */
.card_list {
  display: flex;
  flex-direction: column;
  gap: calc(20 / var(--basis-window-size) * 100vw) 0;
  margin-top: calc(30 / var(--basis-window-size) * 100vw);
}

.card {
  width: calc(355 / var(--basis-window-size) * 100vw);
  margin: auto;
  background-color: var(--primary-s-color);
  padding: calc(20 / var(--basis-window-size) * 100vw);
  text-decoration: none;
  color: var(--primary-color);
  border-radius: calc(20 / var(--basis-window-size) * 100vw);
}

.card .title {
  font-size: calc(16 / var(--basis-window-size) * 100vw);
  font-weight: bold;
  line-height: 1;
  margin-top: 10px;
}

.card .text {
  font-size: calc(14 / var(--basis-window-size) * 100vw);
  line-height: 1.2;
  margin-top: 5px;
}

.card .tag_list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: calc(10 / var(--basis-window-size) * 100vw);
  margin-top: calc(10 / var(--basis-window-size) * 100vw);
}

.card .tag,
.card .material {
  text-decoration: none;
  color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1 / var(--basis-window-size) * 100vw);
  border-radius: calc(50 / var(--basis-window-size) * 100vw);
  background-color: var(--primary-l-color);
  padding: calc(7 / var(--basis-window-size) * 100vw) calc(8 / var(--basis-window-size) * 100vw) calc(6 / var(--basis-window-size) * 100vw);
  font-size: calc(11 / var(--basis-window-size) * 100vw);
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
}

.card .material {
  color: var(--primary-l-color);
  background-color: var(--yellow);
}

/* --------------------
        Post
--------------------- */

.post_footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 calc(20 / var(--basis-window-size) * 100vw);
  background-color: var(--primary-s-color);
  color: var(--primary-color);
  position: fixed;
  left: 0;
  bottom: 0;
}

/* --------------------
        Recipe
--------------------- */
.recipe {
  width: calc(100% - 20px);
  margin: auto;
  color: var(--primary-color);
}

.recipe .fly_info {
  margin-top: calc(10 / var(--basis-window-size) * 100vw);
  margin-bottom: calc(4 / var(--basis-window-size) * 100vw);
}

.recipe .fly_info .name {
  font-size: calc(18 / var(--basis-window-size) * 100vw);
  font-weight: bold;
}

.recipe .fly_info .text {
  font-size: calc(13 / var(--basis-window-size) * 100vw);
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: calc(16 / var(--basis-window-size) * 100vw);
  padding: calc(10 / var(--basis-window-size) * 100vw) calc(14 / var(--basis-window-size) * 100vw);
  background-color: var(--primary-s-color);
  border-radius: 10px;
  position: relative;
}

.recipe .fly_info .text::after {
  content: '';
  width: calc(16 / var(--basis-window-size) * 100vw);
  height: calc(16 / var(--basis-window-size) * 100vw);
  background-color: var(--primary-s-color);
  clip-path: polygon(50% 0%, -10% 100%, 110% 100%);
  position: absolute;
  top: calc(-12 / var(--basis-window-size) * 100vw);
  left: calc(20 / var(--basis-window-size) * 100vw);
}

.recipe .title {
  font-size: calc(18 / var(--basis-window-size) * 100vw);
  font-weight: bold;
  margin-top: calc(40 / var(--basis-window-size) * 100vw);
  padding-bottom: calc(10 / var(--basis-window-size) * 100vw);
  position: relative;
}

.recipe .title::after {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--primary-s-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.recipe .materials .list {
  display: flex;
  flex-direction: column;
  margin-top: calc(10 / var(--basis-window-size) * 100vw);
}

.recipe .materials .item {
  font-size: calc(14 / var(--basis-window-size) * 100vw);
  padding: calc(10 / var(--basis-window-size) * 100vw) calc(20 / var(--basis-window-size) * 100vw);
  border-bottom:  dashed 1px var(--primary-s-color);
}

.recipe .materials .item:first-child {
  border-top:  dashed 1px var(--primary-s-color);
}

.recipe .how_to .list {
  display: flex;
  flex-direction: column;
  margin-top: calc(10 / var(--basis-window-size) * 100vw);
  counter-reset: number 0;
}

.recipe .how_to .item {
  display: flex;
  justify-content: flex-start;
  gap: 0 calc(10 / var(--basis-window-size) * 100vw);
  padding: calc(15 / var(--basis-window-size) * 100vw) 0;
  border-bottom:  dashed 1px var(--primary-s-color);
}

.recipe .how_to .item {
  font-size: calc(14 / var(--basis-window-size) * 100vw);
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-feature-settings: "palt";
  border-top:  dashed 1px var(--primary-s-color);
}

.recipe .how_to .item .number::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(30 / var(--basis-window-size) * 100vw);
  height: calc(30 / var(--basis-window-size) * 100vw);
  background-color: var(--primary-color);
  border-radius: calc(8 / var(--basis-window-size) * 100vw);
  font-size: calc(14 / var(--basis-window-size) * 100vw);
  font-weight: bold;
  line-height: 1;
  color: white;
  counter-increment: number 1;
  content: counter(number);
}

.recipe .how_to .item .info {
  display: flex;
  flex-direction: column;
  gap: calc(5 / var(--basis-window-size) * 100vw);
  width: calc(100% - (30 / var(--basis-window-size) * 100vw));
}

.recipe .share_btn {
  width: calc(280 / var(--basis-window-size) * 100vw);
  height: calc(50 / var(--basis-window-size) * 100vw);
  margin: calc(30 / var(--basis-window-size) * 100vw) auto;
  font-size: calc(16 / var(--basis-window-size) * 100vw);
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
}